html { font-size: 14px; }

html, body { height: 100%; }

body {
  position: relative;
  margin: 0;
  background: #2F567D;
  color: white;
  font-family: monospace;
}

/* Prevent selection of text */
.no-select, .btn, .select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

main, #drawer { float: left; position: relative; }
main {
  position: relative;
  width: 70%;
  transition: transform 0.3s ease;
  text-align: center;
  height: 100%;
}

#drawer {
  width: 30%;
  height: 100%;
  background: #204466;
  z-index: 1;
  transition: transform 0.3s ease;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

#drawer::after {
  position: absolute;
  content: "";
  right: 100%;
  top: 0;
  height: 100%;
  width: 10px;
}

#drawer > * {
  /*margin-bottom: 20px;*/
}

.hideDrawer {
  transform: translateX(calc(100% - 40px));
}

.stepAside {
  transform: translateX(300px);
}

.btn, .select { float: left; }

.btn, .select, .selectOption {
  cursor: pointer;
  box-sizing: border-box;
  background: #173048;
  padding: 10px;
  position: relative;
  transition: all 0.3s;
}

.selectOption {
  display: block;
  text-align: center;
}

.btn:hover, .select:hover, .selectOption:hover {
  transform: scale(1.1);
  box-shadow: -2px 2px 5px rgba(0,0,0,0.4);
}

.shadow {
  box-shadow: -2px 2px 5px rgba(0,0,0,0.4);
}

.select .selectBody {
  display: none;
}

.select.selecting .selectBody {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background: inherit;
  z-index: 2;
}

#timer {
  position: absolute;
  top: 50%;
  width: 100%;
  min-height: 200px;
}

#time {
  font-size: 500%;
  text-align: center;
}

#scramble {
  display: inline-block;
  text-align: left;
  text-indent: none;
  max-width: 50%;
}

#times {
  z-index: -1;
  padding: 0;
  list-style-type: none;
  height: 250px;
  overflow: scroll;
  width: 100%;
  position: relative;
  margin: 0;
}

#timesShadow {
  margin-bottom: -50px; /* To not affect the flow */
  z-index: 1;
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  left: 0;
  top: -50px;
  background: -webkit-linear-gradient(bottom, #204466, rgba(0,0,0,0));
  background: linear-gradient(bottom, #204466, rgba(0,0,0,0));
}

#times li {
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #2F567D;
}

#times li:nth-child(odd) {
  background: #38638e;
}

#times li.slide {
  transform: translate(0, 0);
  transition: transform 0.2s;
}

#times .delete-time {
  cursor: pointer;
  float: right;
}
#stats {
  text-align: left;
}

#statsSection {
  position: absolute;
  top: 0;
  background: #c14444;
  width: 100%;
  padding: 20px;
}

@media (max-width: 1270px) {

  #timerSection, #drawer {
    width: 100%;
    display: block;
    float: right;
    height: 100vh;
   }

   #times {
     height: 500px;
   }

   #statsSection {
     box-sizing: border-box;
   }
}

.col-1 { width: calc(25%/3); }
.col-2 { width: calc(100%/6); }
.col-3 { width: 25%; }
.col-4 { width: calc(100%/3); }
.col-5 { width: calc(125%/3); }
.col-6 { width: 50%; }
.col-7 { width: calc(175%/3); }
.col-8 { width: calc(100%/1.5); }
.col-9 { width: 75%; }
.col-10 { width: calc(250%/3); }
.col-11 { width: calc(275%/3); }
.col-12 { width: 100%; }
