html { font-size: 14px; }

html, body { height: 100%; overflow-x: hidden; }

body {
  position: relative;
  margin: 0;
  background: #2F567D;
  color: white;
  font-family: monospace;
}

/* Prevent selection of text */
.no-select, .btn, .select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

main {
  position: relative;
  text-align: center;
  height: 100%;
}

main, #drawer {
  width: 100%;
  display: block;
  float: right;
  height: 100%;
  box-sizing: border-box;
}

#times {
 height: 500px;
}

#drawer {
  height: 100%;
  background: #204466;
  z-index: 1;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

.hideDrawer {
  transform: translateX(calc(100% - 40px));
}

.stepAside {
  transform: translateX(300px);
}

.btn, .select { float: left; }

.btn, .select, .selectOption {
  cursor: pointer;
  box-sizing: border-box;
  background: #173048;
  padding: 10px;
  position: relative;
}

.shadow {
  box-shadow: -2px 2px 5px rgba(0,0,0,0.4);
}

.select .selectBody {
  display: none;
}

.select.selecting .selectBody {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background: inherit;
}

.select.selecting { z-index: 100; }

#timerSection {
  float: right;
  width: 100%;
  position: relative;
  transition: transform 0.2s ease;
}

.timer-state-1 {
  transform: scale(0.9);
}

#timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 200px;
  width: 90%;
}

#time {
  font-size: 500%;
  text-align: center;
}

#scramble {
  font-size: 3.5vw;
  display: inline-block;
  white-space: pre-wrap;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media (min-width: 390px) {
  #timer { width: 355px; }
  #scramble { font-size: 1em; }
}

#times-wrapper {
  padding: 0;
  height: 250px;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

table#times {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  z-index: -1;
}

table#times tr {
  box-sizing: border-box;
  background: #2F567D;
}

table#times tr:nth-child(odd) { background: #38638e; }
table#times tr td { padding: 10px 20px; }

table#times .delete-time {
  cursor: pointer;
  float: right;
}

#stats {
  text-align: left;
  z-index: 1;
  position: relative;
}

#statsSection {
  box-sizing: border-box;
  float: right;
  top: 0;
  background: #c14444;
  width: 100%;
  padding: 20px;
  position: relative;
}

#graph {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0.15;
}

@media (min-width: 1270px) {
  main, #drawer { float: left !important; position: relative; }

  main {
    width: 70% !important;
    transition: transform 0.3s ease;
  }

  #drawer {
    width: 30%;
    transition: transform 0.3s ease;
  }

  .btn, .select, .selectOption { transition: all 0.3s; }

  .selectOption {
    display: block;
    text-align: center;
  }

  .btn:hover, .select:hover, .selectOption:hover {
    transform: scale(1.1);
    box-shadow: -2px 2px 5px rgba(0,0,0,0.4);
  }

  #times li.slide {
    transform: translate(0, 0);
    transition: transform 0.2s;
  }
}

.col-1 { width: calc(25%/3); }
.col-2 { width: calc(100%/6); }
.col-3 { width: 25%; }
.col-4 { width: calc(100%/3); }
.col-5 { width: calc(125%/3); }
.col-6 { width: 50%; }
.col-7 { width: calc(175%/3); }
.col-8 { width: calc(100%/1.5); }
.col-9 { width: 75%; }
.col-10 { width: calc(250%/3); }
.col-11 { width: calc(275%/3); }
.col-12 { width: 100%; }

.shine::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: linear-gradient(45deg, transparent, white, transparent);
  animation: shine 0.2s ease-out;
}

@keyframes shine {
  0% { transform: translate(-100%); }
  100% { transform: translate(100%); }
}
